*{
    margin:0px;
    padding:0px;
}

div{
    border: 1px solid black;
}

.clearLine{
    clear:both;
    margin:0px;
    
}    


span{   
     float:left; 
     border:1px solid #ccc;    
    }

    
.form_login_error_msg{
	color:red;
	padding: 5px;
}