*{
    margin:0px;
    padding:0px;
}

/* 
div{
    border: 1px solid black;
}
 */
 
#homecontainer{
	margin-top:10px;
	margin-left:50px;
	margin-right:50px;
	margin-bottom: 50px;
	border: 1px solid #ccc;
	width:1100px;
} 
 
#headerRibbon{
	margin:5px 0px 5px 0px;
	height:100px;
    border-bottom: 1px solid #cccfff;
    overflow:auto;  
}

#headerRibbon img{
	float:right;
	margin-right:10px;
}

#homeIcon{
	height:70px;
	width:75px;
}

#exitIcon{
	margin-top:5px;
	margin-left:30px;
	height:33px;
    width:33px;
}

#userIcon{
    margin-top:5px;
    height:35px;
    width:35px;
}

#helpIcon{
    margin-top:5px;
    height:33px;
    width:33px;
}


#headerRibbon p{
    float:left;	
    margin-top: 5px;
    padding-top: 3px;
    padding-left: 20px;
    font-size: 23px;
    font-family:Verdana;
    max-width: 600px;
       
}


.menuContainer{
	width:450px;
	float:left;
	padding: 50px;
	min-height: 400px;
	overflow:auto;
}


.menuContainer p{
	padding: 10px 10px 10px 0px;
	font-size: 12px;
	font-family:Verdana;
	text-align: justify;
}

.menuContainer button{
    margin-right : 10px;
    padding:3px;
}


.clearLine{
    clear:both;
    margin:0px;
    
}    

#dataLoadContainer{
	padding-left:55px;
	padding-right:40px;
	border-top:1px solid #ccc;
	min-height:500px;
	overflow: auto;
	padding-bottom: 20px;
}


span{   
     float:left; 
     /* 
     border:1px solid #ccc;
      */    
    }

    
.form_login_error_msg{
	color:red;
	padding: 5px;
}

.dataContainerHeading 
{
    font-size: 20px;
    font-family:Verdana;
    margin-top:20px;
    margin-bottom: 25px;
}

.dataContainerDescription{
	text-align: justify;
    margin-bottom: 50px;
    font-size: 13px;
    font-family:Verdana;
    border : 1px solid dotted;
    color: #585858;
}

.containerSubHeading{
    text-align: justify;
    margin-bottom: 25px;
    font-size: 15px;
    font-family:Verdana;
    width:500px;
}



