*{
    margin:0px;
    padding:0px;
}

div{
    border: 1px solid black;
}

#pageEnrollUserSearchResults{
    overflow:auto;	
    }
    
    #pageEnrollUserSearchResults span{
		width:40%;
		float:left;
		border:1px solid red;
		min-height:100px;
		}
		
		
.clearLine{
	clear:both;
}    
