*{
    margin:0px;
    padding:0px;
}

div{
    border: 1px solid black;
}

.clearLine{
	margin-top:10px;
	clear:both;
}    


span{   
	 float:left; 
	 border:1px solid #ccc;    
    }

    

#pageVoterManagerHome{
	   overflow: auto;
    }
    #panelRightHomePage{
         border:1px solid red;    
         margin-left:20px;  
         min-height: 300px;
         width: 400px;
    }

#pageVoterListView td{
	border:1px solid #ccc;
}

	#pageVoterListView a{
		display: block;
		padding:3px;
		border:1px solid blue;
	}
	
	    #pageVoterListView a:hover{
            border:1px solid red;
        }
        
		#pageVoterListView a:active{
		    background:#ccc;
		}
		
#pageVoterDetailView{
	   overflow:auto;
    }
    #panelLeftDetailPage{
         border:1px solid red;    
         margin-right:20px;  
         min-height: 500px;
         width: 500px;
        }
	    #panelLeftDetailPage td{
	        border:1px solid #ccc;
	        padding: 10px;
	    }
    #panelRightDetailPage{
	        border:1px solid red; 
	        min-height: 500px;
	        width: 200px;       
	    }
        #panelRightDetailPage button{
	            margin-left: 10px;
	            margin-top: 35px;
	            padding: 6px;
	            background: white;
	            border: 1px solid #ccc;
	        }
	        #panelRightDetailPage button:active{
	            border:1px solid blue;
	            border-left: 5px solid blue;
	            border-right: 5px solid blue;
	        }
        		
